<div style="text-align: center;"><h3><%= f.label "Title" %></h3>
<%= f.text_field :title %><br />

<h3><%= f.label "Text" %></h3>
<%= f.text_area :body, rows:20, cols:10 %><br /></div><br/>

<div style="text-align: center;"><br /><%= f.submit "Save" %></div>
